<div class="modal-header">
    <h4 class="modal-title">Select a Project</h4>
    <button type="button" class="close" aria-label="Close" 
        (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div >
          <input [(ngModel)]="item" placeholder="search...">
        </div>
      <div *ngFor="let project of projectListData | customfilter : item">
          <div class="list-group-item list-group-item-action listcustom" 
            (click)="selectItem(project)">
                <label class="firstNameLabel listcustom">{{project.project}} </label>
            </div>              
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" 
      (click)="activeModal.close('Close click')">Close</button>
  </div>