<h1>Axay Mehta</h1>
<div >
  <img src="\assets\images\profilePic.jpg" />
  <p>Axay Mehta has 12 years of experience in the HTML5, Flex and Java Technologies. As a part of
    his
    assignment
    he has been involved in as a Team Lead and software developer having responsibilities of Requirement
    gathering Analysis & Design, Development, Production releases, application maintenance and support of
    the
    project, Onsite-offshore team coordination.
    He has worked in web application development and client-server application using ReactJS, HTML5, Adobe
    Flex
    and Adobe AIR. He has also worked on Java, springMVC, Hibernate, IBatis and Oracle technologies. He has
    also knowledge on Sencha Ext JS, Maven, UNIX technologies.
  </p>
  <br />
  <div>
    <navigationbar></navigationbar>

  </div>
</div>