<div class="container panel">
  <div class="row content">
    <div class="col-sm-6 list-group">
      <div class="row list-group-item">
        <label class="fontbold">Employee ID: </label>
        <label>{{selectedRow && selectedRow.employeeId}}</label>
      </div>
      <div class="row list-group-item">
        <label class="fontbold">First Name: </label>
        <label>{{selectedRow && selectedRow.firstName}}</label>
      </div>
      <div class="row list-group-item">
        <label class="fontbold">Last Name: </label>
        <label>{{selectedRow && selectedRow.lastName}}</label>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="row buttoncustom">
        <button class="btn btn-primary" (click)="edit($event)">Edit</button>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="delete($event)">Delete</button>
      </div>

    </div>
  </div>
</div>