<div class="container">
  <h3>Add Task</h3>
  <form [formGroup]="taskForm" (ngSubmit)="addOrUpdateItem($event)">
    <div class="form-group row">
      <label for="projectId" class="col-sm-2 col-form-label fontbold">Project:</label>
      <div class="col-sm-4">
        <input type="text" value="{{selectedProject}}" class="form-control" id="projectId" formControlName="projectId" disabled>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mModal" (click)="showProjectModal()">
          Search
        </button>
      </div>
    </div>
    <div class="form-group row">
      <label for="project" class="col-sm-2 col-form-label fontbold">Task:</label>
      <div class="col-sm-6">
        <input type="text" value="{{selectedFormData && selectedFormData.task}}" class="form-control" id="task" formControlName="task"
          [ngClass]="{ 'is-invalid': submitted && f.task.errors }">
        <div *ngIf="submitted && f.task.errors" class="invalid-feedback">
          <div *ngIf="f.task.errors.required">Task is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="checkbox" class="col-sm-2 col-form-label fontbold"></label>
      <div class="col-sm-1">
        <input type="checkbox" class="form-control form-check-input" id="checkbox" (change)="checkBoxSelected($event)">
      </div>
      <label for="checkbox" class="col-sm-2 col-form-label fontbold">Parent Task</label>
    </div>

    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label fontbold">Priority:</label>
      <div class="col-sm-5" >
        <input type="range" value="{{selectedFormData && selectedFormData.priority}}" class="form-control custom-range" id="priority"
          formControlName="priority" min="0" max="30"
          disabled="{{disableComponent}}">
      </div>
    </div>

    <div class="form-group row">
      <label for="parentId" class="col-sm-2 col-form-label fontbold">Parent Task:</label>
      <div class="col-sm-4">
        <input type="text" value="{{selectedParentTask}}" 
        class="form-control" id="parentId" formControlName="parentId" disabled>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" 
        data-toggle="modal" data-target="#myModal" 
        (click)="showParentTaskModal()"
        [disabled]="disableComponent">
          Search
        </button>
      </div>
    </div>

    <div class="form-group row">
          <label for="startDate" class="col-sm-2 col-form-label fontbold">Start Date:</label>
          <div class="col-sm-3 input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" value="{{selectedFormData && selectedFormData.startDate}}"
              formControlName="startDate"
              disabled="{{disableComponent}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" 
              (click)="d.toggle()" type="button" [disabled]="disableComponent"></button>
            </div>
          </div>    
      
          <label for="endDate" class="col-sm-2 col-form-label fontbold">End Date:</label>
          <div class="col-sm-3 input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model2" ngbDatepicker #d1="ngbDatepicker" value="{{selectedFormData && selectedFormData.endDate}}"
              formControlName="endDate"
              disabled="{{disableComponent}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" 
              (click)="d1.toggle()" type="button"
              [disabled]="disableComponent"></button>
            </div>
          </div>
    </div>
    <div *ngIf="submitted && dateError" class="invalid-feedback errorcomp">
      <div *ngIf="submitted && dateError">Start Date should be greater than End Date</div>
    </div>
    <div class="form-group row">
        <label for="userId" class="col-sm-2 col-form-label fontbold">User:</label>
        <div class="col-sm-4">
          <input type="text" value ="{{selectedUser}}" class="form-control" id="userId" formControlName="userId" disabled>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" 
            data-toggle="modal" data-target="#m1Modal"
            (click)="showUserModal()"
            [disabled]="disableComponent">
            Search
          </button>
          
        </div>
      </div>
    <div class="form-group row">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2">
          <button type="submit" class="btn btn-primary">{{submitLabel}}</button>
        </div>
        <div class="btn-group mr-2">
          <button type="Reset" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
  </form>

</div>