<div class="col-xs-12" >
  <h1>Personal Biography</h1>
  <h2>EDUCATION</h2>
  <table class="table table-bordered">
      <tr>
          <th>Title of the Degree with Branch</th>
          <th>College/University</th>
          <th>Year of Passing</th>
      </tr>
      <tr>
          <td>B.E. (Electronics)</td>
          <td>Birla Vishvakarma Mahavidylaya, Sardar Patel University, Gujarat</td>
          <td>2002</td>
      </tr>
      <tr>
          <td>XII</td>
          <td>Shri Sarvajanik Vidyalaya, Mehasana, Gujarat</td>
          <td>1998</td>
      </tr>
      <tr>
          <td>X</td>
          <td>Shri Vardhaman Vidyalaya, Mehasana, Gujarat</td>
          <td>1996</td>
      </tr>
  </table>
</div>