<form [formGroup]="bookForm" (ngSubmit)="addItem()">
    
      <div class="form-group">
        <label>
          Title:
          <input type="text" formControlName="title" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          Price:
          <input type="text" formControlName="price" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          Volume:
          <input type="text" formControlName="volume" required>
        </label>
      </div>
      <div class="form-group">
          <label>
            Publish Date:
            <input type="date" formControlName="publishDate" required>
          </label>
        </div>
        <div class="form-group">
            <label>
              Subject Id:
              <input type="text" formControlName="subjectId" required>
            </label>
          </div>
    
      <button type="submit">Add</button>
    </form>